body {
  margin: 0;
  padding: 0;
}

.color-input {
width: 3em;
text-align: center;
}

input[type=text] {
    width: 7em;
    text-align: center;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;

}

canvas {
    border: 1px solid #ccc;
}

.column {
      width: 45%;
      text-align: center;

}

.footer {
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

.top-columns {
  display: flex;
      margin: auto;
  
}

.controls {
    margin-left: 20px;
    
}

label {
    display: block;
    margin-top: 10px;
}


.highlight {
    background-color: #f0f0f0;
}

